.container {
  /* гарантированно фиксированная ширина и центрирование */
  width: var(--container-width);
  margin: 0 auto;            /* вот это и даёт центр */

  /* чтобы внутри было не впритык к краю */
  padding: 0 var(--container-gutter);

  /* дистанция между Header, Hero, Description */
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-gap);
}