:root {
  --header-height: 4.5rem;
  --container-max-width: 98rem;
  --container-width: 80%;
  --container-gutter: 1rem;    /* горизонтальные поля */
  --vertical-gap: 1rem;        /* вертикальные пробелы */
  --back-color: #E6F4FA
}

.ant-layout {
  background: var(--back-color) !important;
}
.ant-layout-sider {
  background: var(--back-color) !important;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--back-color);
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* универсальный контейнер */
.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;

  /* поля внутри */
  padding: 0 var(--container-gutter);

  /* расстояние между секциями */
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-gap);
}
